.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }

  .list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  .company {
    margin: 15px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 250ms $timing-function;
    width: calc((100% - 2 * 30px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 3 * 30px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 6 * 30px) / 6);
    }

    &:hover,
    &:focus {
      border-color: $accent-color;
    }
  }
}

.company svg {
  fill: #afb1b8;
  transition: fill 250ms $timing-function;
}

.company:hover svg,
.company:focus svg {
  fill: $accent-color;
}

.company-01 svg {
  width: 44.27px;
  height: 49.23px;
}

.company-02 svg {
  width: 40px;
  height: 52px;
}

.company-03 svg {
  width: 41px;
  height: 42.6px;
}

.company-04 svg {
  width: 79.66px;
  height: 42.02px;
}

.company-05 svg {
  width: 59px;
  height: 47px;
}

.company-06 svg {
  width: 88.48px;
  height: 45.44px;
}
