.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timing-function;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms $timing-function;

  .modal-window {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms $timing-function;
  }
}

.modal-window {
  width: 528px;
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  h2 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $title-text-color;
    margin-bottom: 12px;
  }

  .callback-form {
    display: flex;
    flex-direction: column;

    .submit-button {
      padding: 10px 55px;
      margin-left: auto;
      margin-right: auto;
      background-color: $accent-color;
      color: $secondary-text-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      border-style: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .close-button {
    height: 30px;
    padding: 8.5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-bg-color;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;

    svg {
      width: 11px;
      height: 11px;
      transition: fill 250ms $timing-function;
    }

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

.label-input {
  margin-bottom: 10px;

  span {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }

  .icon-container {
    position: relative;
  }

  .input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms $timing-function;

    &:focus {
      border-color: $accent-color;
      outline: none;
    }

    &:focus + .icon {
      fill: $accent-color;
    }
  }

  .icon {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 50%;
    left: 12px;
    transform: translateY(50%);
    transition: fill 250ms $timing-function;
  }
}

.label-comment {
  margin-bottom: 20px;

  span {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }

  .comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    transition: border-color 250ms $timing-function;

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
      border-color: $accent-color;
      outline: none;
    }
  }
}

.label-check {
  margin: 0 auto 30px;

  input {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;

    &:checked + span::before {
      border: none;
      background-image: url(../images/check.svg);
    }
  }

  span::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
  }

  .policy-link {
    color: $accent-color;
  }
}
