.order-section {
  color: $secondary-text-color;
  background-color: $tertiary-bg-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

  .container {
    max-width: 696px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .button {
    background-color: $accent-color;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
