.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  .item:not(:last-child) {
    margin-right: 8px;
  }

  .button {
    background-color: $secondary-bg-color;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $secondary-text-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: calc((100% - 2 * 30px) / 3);
    transition: box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }

  .description-sub-container {
    position: relative;
    overflow: hidden;

    p {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      padding: 63px 24px;
      font-size: 18px;
      line-height: 1.56;
      color: $secondary-text-color;
      transition: transform 250ms $timing-function;
    }

    &:hover p {
      transform: translateY(-100%);
    }
  }

  .label-sub-container {
    border-bottom: 1px solid $secondary-bg-color;
    border-left: 1px solid $secondary-bg-color;
    border-right: 1px solid $secondary-bg-color;
    padding: 20px 24px;
  }

  .title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  .text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.88;
  }
}
