.work-description-section {
  padding-top: 94px;
  padding-bottom: 94px;

  .title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }

  .list {
    display: flex;
    justify-content: space-between;
  }

  .item {
    width: 370px;
    height: 294px;
    position: relative;
  }

  .text {
    padding: 27px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    background-color: rgba(47, 48, 58, 0.8);
    color: $secondary-text-color;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
