$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$tertiary-bg-color: #2f303a;
$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #ffffff;
$secondary-text-color-alfa: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
